/* Start testimonial  */

.testimonial {
    position: relative;
    padding: var(--padding-section) 0;
}

.testimonial::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    background-color: #101d2d;
    height: 97vh;
    transform: skewY(-4deg);
    z-index: -1;
}

.testimonial .special-text h2 {
    color: white;
}

.testimonial .container .inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    padding-bottom: 70px;
}

.testimonial .container .box {
    background-color: var(--secondary-color);
    transition: var(--main-transition);
    position: relative;
    padding: 20px;
}

.testimonial .container .box .image {
    width: 60px;
}

.testimonial .container .box .image img {
    border-radius: 50%;
    width: 100%;
}

.testimonial .container .box .text {
    position: relative;
    color: var(--main-p-color);
    font-size: 18px;
    line-height: 1.7;
    padding-bottom: 30px;
    margin: 30px 0;
}

.testimonial .container .box .text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-hr-color);
}

.testimonial .container .box .name {
    font-size: 18px;
}

.testimonial .container .box .name a {
    color: var(--main-color);
}

.testimonial .container .clients {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    border-top: 2px solid var(--main-hr-color);
    border-bottom: 2px solid var(--main-hr-color);
}

@media (max-width: 991px) {
    .testimonial .container .inner {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .testimonial .container .clients {
        flex-direction: column;
    }
    .testimonial .container .clients li:not(:last-of-type) {
        margin-bottom: 15px;
    }
}

/* End testimonial */
/*Start Know-us */
.know-us {
    position: relative;
    padding: var(--padding-section) 0;
    background-color: var(--secondary-color);
}

.know-us .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.know-us .container .card {
    position: relative;
    text-align: center;
    transition: var(--main-transition);
}

.know-us .container .card img {
    width: 50%;
}

.know-us .container .card .info {
    padding-top: 20px;
}

.know-us .container .card .info h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.know-us .container .card .info span {
    color: var(--main-color);
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
}

.know-us .container .card .info p {
    color: var(--main-p-color);
    font-size: 18px;
    line-height: 1.7;
}
@media (max-width: 768px) {
    .know-us .container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
/*End Know-us */
/* Start workflow */
.Workflow {
    padding: var(--padding-section) 0;
}

.Workflow .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.Workflow .container .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Workflow .container .box {
    margin-bottom: 60px;
}

.Workflow .container .box .image {
    box-shadow: 0 4px 16px rgba(16, 29, 45, 0.08);
    transition: var(--main-transition);
    transform: scale(1.15);
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Workflow .container .box .image img {
    width: 100%;
    transition: var(--main-transition);
}

.img-lazy {
    transform: scale(0.8) !important;
}

.Workflow .container .box:nth-child(odd) {
    flex-direction: row-reverse;
}

.Workflow .container .box .info {
    width: 45%;
    transition: var(--main-transition);
}

.Workflow .container .box .info h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.Workflow .container .box .info p {
    font-size: 20px;
    line-height: 1.7;
    color: var(--main-p-color);
}

@media (max-width: 768px) {
    .Workflow .container .box {
        flex-direction: column !important;
        row-gap: 60px;
    }
    .Workflow .container .box .image {
        width: 80%;
    }
    .Workflow .container .box .info {
        width: 100%;
    }
}

/* End workflow */

/* Start placeholder */
.placeholder {
    background-color: var(--secondary-color);
    padding: var(--padding-section) 0;
}

.placeholder .special-text {
    text-align: left;
}

.placeholder .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.placeholder .special-text p:nth-of-type(2) {
    margin-top: 20px;
}

.placeholder .container .content {
    max-width: 700px;
}

.placeholder .container .content img {
    width: 100%;
}
.placeholder .container .content figcaption {
    color: var(--main-p-color);
    font-size: 14px;
    margin-top: 10px;
    margin-left: 30px;
}

.placeholder .container .content .text h4 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 23px;
}

.placeholder .container .content .text p {
    line-height: 1.7;
    color: var(--main-p-color);
    font-size: 20px;
}

.placeholder .container .content .text ul {
    padding: 40px;
}

.placeholder .container .content .text ul li {
    list-style: disc;
    color: var(--main-p-color);
    font-size: 20px;
}

.placeholder .container .content .text ul li:not(:last-of-type) {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .placeholder .container .content {
        width: 100%;
    }
}
/* End placeholder */
/* Start newselter */
.newselter {
    position: relative;
    padding: var(--padding-section) 0;
    background-image: url(../images/newselter.jpg);
    background-size: cover;
}

.newselter::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 21%);
    width: 100%;
    height: 100%;
}

.newselter .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newselter .container a {
    padding: 10px 20px;
    background-color: #2bbf96;
    color: white;
    font-size: 18px;
    border-radius: var(--main-border-radius);
    transition: var(--secondary-transition);
}

.newselter .container a:hover {
    background-color: #2bbf95c3;
}

/* Modal newselter */
.modal {
    max-width: 500px;
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: var(--secondary-transition);
    transform: translate(-50%, -80%);
    z-index: -1;
    opacity: 0;
}

.modal .special-text {
    margin-bottom: 30px;
}

.modal .special-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.modal .special-text p {
    font-size: 18px;
}

.modal form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal form input {
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 10px;
    border-radius: var(--main-border-radius);
}

.modal form .subscribe {
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
    transition: var(--secondary-transition);
    border: none;
}

.modal form .subscribe:hover {
    background-color: var(--main-color-hover);
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #777;
    opacity: 0.6;
    transition: var(--secondary-transition);
}

.modal .close:hover {
    opacity: 1;
}

/* End newselter */

/* Start Links */
.links {
    padding: var(--padding-section) 0;
    background-color: white;
}

.links .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.links .container .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.links .container .column a {
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    border-radius: var(--main-border-radius);
    transition: var(--secondary-transition);
}

.links .container .column:first-of-type a:first-of-type {
    background-color: var(--main-color);
}

.links .container .column:first-of-type a:first-of-type:hover {
    background-color: var(--main-color-hover);
}
.links .container .column:first-of-type a:nth-child(2) {
    background-color: #2d3a4b;
}

.links .container .column:first-of-type a:nth-child(2):hover {
    background-color: #2d3a4bcc;
}

.links .container .column:nth-child(2) a:first-of-type {
    background-color: #2bbf96;
}

.links .container .column:nth-child(2) a:first-of-type:hover {
    background-color: #2bbf95c4;
}

.links .container .column:nth-child(2) a:nth-child(2) {
    background-color: var(--secondary-color);
    color: #777;
}

.links .container .column:nth-child(2) a:nth-child(2):hover {
    background-color: hsl(210, 8%, 86%);
}
/* End Links */

/* Start inputForm */
.input-form {
    padding: var(--padding-section) 0;
    background-color: var(--secondary-color);
}
.input-form .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form .container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

.input-form .container form .form-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.input-form .container form .form-group:not(:last-of-type) {
    margin-bottom: 20px;
}

.input-form .container form .form-group .form-control {
    padding: 15px;
    width: 280px;
    border-radius: var(--main-border-radius);
}

.input-form .container form .form-group .form-control:focus {
    outline: 2px solid gold;
}

.input-form .container form .form-group .btn-control {
    position: relative;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    transition: var(--secondary-transition);
}

.input-form .container form .form-group .btn-control:hover {
    background-color: var(--main-color-hover);
}

.input-form .container form .form-group:nth-child(2) .btn-control {
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}

.input-form .container form .form-group:nth-child(2) .btn-control::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid white;
    border-left-color: transparent;
    -webkit-animation: btn-loading 0.6s infinite linear;
    animation: btn-loading 0.6s infinite linear;
}

@keyframes btn-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .input-form .container form .form-group .btn-control {
        width: 100%;
    }
    .input-form .container form .form-group .form-control {
        width: 100%;
    }
}
/* End inputForm */
/* Start Questions */
.Question {
    padding: var(--padding-section) 0;
}

.Question .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Question .container .inner {
    width: 700px;
}

.Question .container .question {
    padding: 30px 0;
    border-top: 2px solid var(--main-hr-color);
    width: 100%;
    cursor: pointer;
}

.Question .container .question:last-of-type {
    border-bottom: 2px solid var(--main-hr-color);
}

.Question .container .question .head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Question .container .question .head .more {
    position: relative;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Question .container .question .head .more::before,
.Question .container .question .head .more::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    transition: 0.15s;
}

.Question .container .question .head .more::before {
    width: 100%;
    height: 2px;
    transform: rotate(var(--beforeTrans, 0));
}

.Question .container .question .head .more::after {
    width: 2px;
    height: 100%;
    transform: rotate(var(--afterTrans, 0));
}

.Question .container .question .head span {
    width: calc(100% - (16px * 2));
    color: #101d2d;
    font-size: 18px;
}

.Question .container .question:focus-within .more::before {
    background-color: red;
}

.Question .container .question .content {
    padding: 0 15px;
    height: 100%;
    /* overflow: hidden; */
    /* transition: 0.15s ease-in-out; */
}

.hidden-content {
    overflow: hidden;
    height: 0px !important;
    transition: 0.15s ease-in-out;
    opacity: 0;
}

.Question .container .question .content p {
    margin-top: 20px;
    font-size: 16px;
    width: calc(100% - (16px * 2));
    transition: var(--secondary-transition);
    color: var(--main-p-color);
    line-height: 1.7;
}

@media (max-width: 768px) {
    .Question .container .inner {
        width: 100%;
    }
}
/* End Questions */

/* Start Previewing */
.Previewing {
    position: relative;
}

/* End Previewing */

/* Start footer */
footer {
    padding: var(--padding-section) 0;
}

footer .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

footer .inner .column {
    padding: 30px;
    width: 250px;
}

footer .inner .column h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 16px;
}

footer .inner .column .branch li {
    margin-top: 15px;
}

footer .inner .column .branch a:hover {
    color: var(--main-color);
}

footer .inner .column .branch li a {
    color: var(--main-p-color);
    font-size: 15px;
    transition: var(--secondary-transition);
}

footer .inner .column .logo {
    margin-bottom: 15px;
}

/* End footer */
